/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Jun-2019, 10:32:51
    Author     : markus
*/

.coverBackgroundImage
{
    /*background-image:<c:url value="../images/not-available.jpg" />;*/
    width: 100%;
    height: auto;
}

/*
* Checkboxes with tick mark
*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:readonly + .cr,
.radio label input[type="radio"]:readonly + .cr {
    opacity: .5;
}


.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 0;
    margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
    margin-right: 0;
}

.highlightHeader {
    background:yellow;
    /*      background-color:#d9d1d1;*/
}
.modal {
    overflow-y:auto;
    text-align: center;
}

#addAdditionalRightsHoldersModal{
    width: 400px;

    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -200px;
    padding: 20px;               

}
/* Set whitespace between the generated input fields*/
input.wsp{

    margin-right: 5px;
}
.modal-footer {  
    background: #81ccfb;
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10;
}
body {
    margin: 5px;
    background: #d9d1d1
}
/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;   
    border-bottom: 1px solid #d45500; 
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
    color: #575757;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
    border-color: #d45500;
    border-bottom-color: transparent;
    color: #3c5a78;
    font-size: 16px;
}
a, u {
    text-decoration: none;
}
/* Tab Content */
.tab-pane {
    background: #d9d1d1;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.nav-tabs.two-lines>li {
    height:62px;
}
.nav-tabs.two-lines>li>a, .nav-tabs>li>a>div {
    height:100%;
}
input[type="text"]:focus + .glyphicon-search{
    color: #FF8C00;
}
.mytab .tab-pane{ border:solid 1px blue;  border-top: 0;    }
#myTab li a { border-color: blue;background-color:#A5C967; }
#myTab li.active a {border-bottom-color: transparent;background-color:Yellow; }
.my-tab .tab-pane{ border:solid 1px blue;  border-top: 0; background-color:#F7EFC6;}

label.error {
    display:block;
    width:100%;
    color:red;
}
.has-error{
    display:block;
    width:100%;
    color:red;
}
.control-label{
    text-align: left;
}
/*form .glyphicon {
    margin-top: -20px;
}*/